
//.mat-mdc-dialog-surface ,mdc-dialog__surface{
//  background-color: transparent !important;
//  box-shadow: none !important;
//}

.cdk-overlay-dark-backdrop{
  background-color: rgba(0, 0, 0, 0.72) !important;
}

.warning{
  filter: brightness(0) saturate(100%) invert(83%) sepia(63%) saturate(2357%) hue-rotate(1deg) brightness(105%) contrast(106%);
}

button:focus {outline:0;}


.limit{
  font-family: 'Ubuntu Mono';
  font-weight: 600;
  font-size:14px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.dialog{
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding:30px;
  gap:10px;
}

.upload-header{
  font-family: "Public Sans";
  font-weight: 700;
  font-size: 20px;
}

.upload-subheader{
  font-family: "Public Sans";
  font-weight: 400;
  font-size: 12px;
  color:black;
}

.form-class{
  display: inline-flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  gap:15px;
  flex:1;
  row-gap: 5px;
}

.form-container{
  max-width: 600px;
}

.mfield{
  flex-grow: 1;
}
