<div  class="main-content">
  <!-- <section>
   <ko-stage [config]="configStage">
      <ko-layer>
        <ko-rect
          [config]="configRect"
          (click)="handleClick($event)"
        ></ko-rect>
      </ko-layer>
      <ko-layer>
        <ko-path [config]="configPath" (click)="handleClick($event)">
        </ko-path>-->
      <!--  <ko-image [config]="configBG"></ko-image>

      </ko-layer>
    </ko-stage>
  </section> -->

  <canvas id="myCanvas" width="500" height="500"></canvas>
</div>

