<!--<div>
      <h1>Home!</h1>
      {{(_authService.user$ | async)?.uid}}
      <button (click)="_authService.signOut()">Logout</button>
</div>-->

<!--<div id="aa" *ngFor="let item of allTracks">
  <div>Jaa<strong>{{ item.duration  }}</strong></div>
</div>

<div class="main-content">

  <div id='uploadfile'>
    <input  (change)="onChange($event)" type="file" ng2FileSelect [uploader]="uploader" multiple/>
  </div>

  <div class="upload-cards">
    <div class="upload-header">Side A</div>
    <p>Queue length: {{ uploader?.queue?.length }}</p>


    <table class="table">
      <thead>
      <tr>
        <th width="50%">Name</th>
        <th>Size</th>
        <th>Duration</th>
        <th>Progress</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of uploader.queue">
        <td><strong>{{ item?.file?.name }}</strong></td>
        <td><strong>{{ item?.file?.type }}</strong></td>
        <td id="time"><strong>{{ songDuraton }}</strong></td>
        <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
        <td *ngIf="uploader.options.isHTML5">
          <div class="progress" style="margin-bottom: 0;">
            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
          </div>
        </td>
        <td class="text-center">
          <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
          <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
          <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
        </td>
        <td nowrap>
          <button type="button" class="btn btn-success btn-xs"
                  (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
            <span class="glyphicon glyphicon-upload"></span> Upload
          </button>
          <button type="button" class="btn btn-warning btn-xs"
                  (click)="item.cancel()" [disabled]="!item.isUploading">
            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
          </button>
          <button type="button" class="btn btn-danger btn-xs"
                  (click)="item.remove()">
            <span class="glyphicon glyphicon-trash"></span> Remove
          </button>
        </td>
      </tr>
      </tbody>
    </table>

    <div>

      <div>
        Queue progress:
        <div class="progress" style="">
          <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
        </div>
      </div>
      <button type="button" class="btn btn-success btn-s"
              (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
        <span class="glyphicon glyphicon-upload"></span> Upload all
      </button>
      <button type="button" class="btn btn-warning btn-s"
              (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
        <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
      </button>
      <button type="button" class="btn btn-danger btn-s"
              (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
        <span class="glyphicon glyphicon-trash"></span> Remove all
      </button>
    </div>

  </div>

  <div class="col-md-9" style="margin-bottom: 40px">


  </div>

</div>-->

<div class="main-content">



  <mat-stepper [linear]=false #stepper class="music-steps" labelPosition="end" >

    <!-- Icon overrides. -->
    <ng-template matStepperIcon="album">
      <mat-icon>album</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="done">
      <mat-icon>playlist-add-check-circle</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="upload">
      <mat-icon>file_upload</mat-icon>
    </ng-template>

    <mat-step  [completed]="true"  label="Side A" state="album">

      <div class="upload-cards">
        <div class="headers">
          <div class="upload-header">Side A</div>
          <div class="upload-subheader">{{vinylSize}}</div>
        </div>
        <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event, 'a')" >
          <div class="tracks" *ngFor="let track of twlArrayA; let i = index">
            <div class="track-number">
              {{i+1}}.
            </div>
            <div class="track-box" cdkDrag>
              <div>{{track.file.name}}</div>
              <div>{{track.duration}}</div>
            </div>
            <div class="remove-track">
              <img src="/assets/Remove_Icon.svg" class="remove-icon" (click)="removeTrack(i, 'a')">
            </div>
          </div>

        </div>

        <div class="last-line">
          <button class="select-music-button" onclick="document.getElementById('music-a-input').click()">Add music files</button>
          <input type='file' id="music-a-input" style="display:none" (change)="addFiles($event, 'a')"  multiple="multiple" #upload>

          <div class="playtime" *ngIf="tptA > maxDuration">
            <div>Total playtime over limit!</div>
            <div class="playtime-tag red-time" style="font-size: 14px; font-family: 'Ubuntu Mono'; padding-top:5px;">{{totalPlaytimeA}} </div>
          </div>

          <div class="playtime" *ngIf="tptA <= maxDuration">
            <div>Total playtime:</div>
            <div class="playtime-tag green-time" style="font-size: 14px; font-family: 'Ubuntu Mono'; padding-top:5px;">{{totalPlaytimeA}} </div>
          </div>
        </div>
      </div>

      <div class="steps-buttons" style="justify-content: center">
        <button matStepperNext mat-button class="step-button">Next Step ></button>
      </div>

    </mat-step>
    <mat-step  label="Side B" state="album">
      <div class="upload-cards">
        <div class="headers">
          <div class="upload-header">Side B</div>
          <div class="upload-subheader">{{vinylSize}}</div>
        </div>
        <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event, 'b')" >
          <div class="tracks" *ngFor="let track of twlArrayB; let i = index">
            <div class="track-number">
              {{i+1}}.
            </div>
            <div class="track-box" cdkDrag>
              <div>{{track.file.name}}</div>
              <div>{{track.duration}}</div>
            </div>
            <div class="remove-track">
              <img src="/assets/Remove_Icon.svg" class="remove-icon" (click)="removeTrack(i, 'b')">
            </div>
          </div>

        </div>

        <div class="last-line">
          <button class="select-music-button" onclick="document.getElementById('music-b-input').click()">Add music files</button>
          <input id="music-b-input" type='file' style="display:none" (change)="addFiles($event, 'b')"  multiple="multiple">

          <div class="playtime" *ngIf="tptB > maxDuration">
            <div>Total playtime over limit!</div>
            <div class="playtime-tag red-time" style="font-size: 14px; font-family: 'Ubuntu Mono'; padding-top:5px;">{{totalPlaytimeB}} </div>
          </div>

          <div class="playtime" *ngIf="tptB <= maxDuration">
            <div>Total playtime:</div>
            <div class="playtime-tag green-time" style="font-size: 14px; font-family: 'Ubuntu Mono'; padding-top:5px;">{{totalPlaytimeB}} </div>
          </div>
        </div>
      </div>
    </mat-step>
    <mat-step *ngIf="doubleAlbum" label="Side C" state="album">
      <div class="upload-cards">
        <div class="headers">
          <div class="upload-header">Side C</div>
          <div class="upload-subheader">{{vinylSize}}</div>
        </div>
        <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event, 'c')" >
          <div class="tracks" *ngFor="let track of twlArrayC; let i = index">
            <div class="track-number">
              {{i+1}}.
            </div>
            <div class="track-box" cdkDrag>
              <div>{{track.file.name}}</div>
              <div>{{track.duration}}</div>
            </div>
            <div class="remove-track">
              <img src="/assets/Remove_Icon.svg" class="remove-icon" (click)="removeTrack(i, 'c')">
            </div>
          </div>

        </div>

        <div class="last-line">
          <button class="select-music-button" onclick="document.getElementById('music-c-input').click()">Add music files</button>
          <input type='file' id="music-c-input" style="display:none" (change)="addFiles($event, 'c')"  multiple="multiple">

          <div class="playtime" *ngIf="tptC > maxDuration">
            <div>Total playtime over limit!</div>
            <div class="playtime-tag red-time" style="font-size: 14px; font-family: 'Ubuntu Mono'; padding-top:5px;">{{totalPlaytimeC}} </div>
          </div>

          <div class="playtime" *ngIf="tptC <= maxDuration">
            <div>Total playtime:</div>
            <div class="playtime-tag green-time" style="font-size: 14px; font-family: 'Ubuntu Mono'; padding-top:5px;">{{totalPlaytimeC}} </div>
          </div>
        </div>
      </div>
    </mat-step>
    <mat-step *ngIf="doubleAlbum"  label="Side D" state="album">
      <div class="upload-cards">
        <div class="headers">
          <div class="upload-header">Side D</div>
          <div class="upload-subheader">{{vinylSize}}</div>
        </div>
        <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event, 'd')" >
          <div class="tracks" *ngFor="let track of twlArrayD; let i = index">
            <div class="track-number">
              {{i+1}}.
            </div>
            <div class="track-box" cdkDrag>
              <div>{{track.file.name}}</div>
              <div>{{track.duration}}</div>
            </div>
            <div class="remove-track">
              <img src="/assets/Remove_Icon.svg" class="remove-icon" (click)="removeTrack(i, 'd')">
            </div>
          </div>

        </div>

        <div class="last-line">
          <button class="select-music-button" onclick="document.getElementById('id=music-d-input').click()">Add music files</button>
          <input type='file' id="music-d-input" style="display:none" (change)="addFiles($event, 'd')"  multiple="multiple">

          <div class="playtime" *ngIf="tptD > maxDuration">
            <div>Total playtime over limit!</div>
            <div class="playtime-tag red-time" style="font-size: 14px; font-family: 'Ubuntu Mono'; padding-top:5px;">{{totalPlaytimeD}} </div>
          </div>

          <div class="playtime" *ngIf="tptD <= maxDuration">
            <div>Total playtime:</div>
            <div class="playtime-tag green-time" style="font-size: 14px; font-family: 'Ubuntu Mono'; padding-top:5px;">{{totalPlaytimeD}} </div>
          </div>
        </div>
      </div>
    </mat-step>
    <mat-step label="Upload" state="upload">
      <div class="upload-cards">
        <div class="headers">
          <div class="upload-header">Tracks Summary</div>
          <div class="upload-subheader">Final selection of tracks for your vinyl.</div>
        </div>

        <div class="summary-table">
          <span class="summary-side"><mat-icon>album</mat-icon>Side A</span>
          <div class="tracklist-summary" *ngFor="let track of twlArrayA; let i = index">
            <div class="track-number-summary">
              {{i+1}}.
            </div>
            <div class="track-box-summary" cdkDrag>
              <div>{{track.file.name}}</div>
            </div>
          </div>
          <span class="summary-playtime">Duration: {{totalPlaytimeA}}</span>
        </div>

        <div class="summary-table">
          <span class="summary-side"><mat-icon>album</mat-icon>Side B</span>
          <div class="tracklist-summary" *ngFor="let track of twlArrayB; let i = index">
            <div class="track-number-summary">
              {{i+1}}.
            </div>
            <div class="track-box-summary" cdkDrag>
              <div>{{track.file.name}}</div>
            </div>
          </div>
          <span class="summary-playtime">Duration: {{totalPlaytimeB}}</span>
        </div>

      </div>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-button (click)="uploadFile(upload)">Upload</button>
      </div>
    </mat-step>


  </mat-stepper>

</div>
