<div  class="main-content">
  <mat-stepper
    [linear]="true"
    #stepper
    class="music-steps"
    labelPosition="end"
    [orientation]="orientation"
    *ngIf="_orderProcess.musicProcess === 'waitingForUpload' "
  >
    <!-- Icon overrides. -->
    <ng-template matStepperIcon="album">
      <mat-icon>album</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="done">
      <mat-icon>playlist-add-check-circle</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="upload">
      <mat-icon>file_upload</mat-icon>
    </ng-template>

    <mat-step [completed]="true" label="Side A" state="album">
      <div class="upload-cards">
        <div class="headers">
          <div class="upload-header">Side A</div>
          <div class="upload-subheader">{{ vinylSize }}</div>
        </div>
        <div
          cdkDropList
          class="example-list"
          (cdkDropListDropped)="drop($event, 'a')"
        >
          <div class="tracks" *ngFor="let track of twlArrayA; let i = index">
            <div class="track-number">{{ i + 1 }}.</div>
            <div class="track-box" cdkDrag>
              <div>{{ track.file.name }}</div>
              <div>{{ timeString(track.durationMs) }}</div>
            </div>
            <div class="remove-track">
              <img
                src="/assets/Remove_Icon.svg"
                class="remove-icon"
                (click)="removeTrack(i, 'a')"
              />
            </div>
          </div>
        </div>

        <div class="last-line">
          <button
            class="twl-app-button"
            onclick="document.getElementById('music-a-input').click()"
          >
            Add music files
          </button>
          <input
            type="file"
            id="music-a-input"
            style="display: none"
            (change)="addFiles($event, 'a')"
            multiple="multiple"
            accept=".MP3, .OGG, .M4A, .WMA, .WAV, .AAC, .FLAC, .AIFF, .AIF"
            #upload
          />

          <div class="playtime" *ngIf="tptA > maxDuration">
            <div>Total playtime over limit!</div>
            <div
              class="playtime-tag red-time"
              style="
                font-size: 14px;
                font-family: 'Ubuntu Mono';
                padding-top: 5px;
              "
            >
              {{ totalPlaytimeA }}
            </div>
          </div>

          <div class="playtime" *ngIf="tptA <= maxDuration">
            <div>Total playtime:</div>
            <div
              class="playtime-tag green-time"
              style="
                font-size: 14px;
                font-family: 'Ubuntu Mono';
                padding-top: 5px;
              "
            >
              {{ totalPlaytimeA }}
            </div>
          </div>
        </div>
      </div>

      <div class="steps-buttons" style="justify-content:flex-end">
        <button  (click)="goForward(stepper, tptA)"  class="twl-app-transparent-button">Next Step ></button>
      </div>
    </mat-step>
    <mat-step label="Side B" state="album">
      <div class="upload-cards">
        <div class="headers">
          <div class="upload-header">Side B</div>
          <div class="upload-subheader">{{ vinylSize }}</div>
        </div>
        <div
          cdkDropList
          class="example-list"
          (cdkDropListDropped)="drop($event, 'b')"
        >
          <div class="tracks" *ngFor="let track of twlArrayB; let i = index">
            <div class="track-number">{{ i + 1 }}.</div>
            <div class="track-box" cdkDrag>
              <div>{{ track.file.name }}</div>
              <div>{{ timeString(track.durationMs) }}</div>
            </div>
            <div class="remove-track">
              <img
                src="/assets/Remove_Icon.svg"
                class="remove-icon"
                (click)="removeTrack(i, 'b')"
              />
            </div>
          </div>
        </div>

        <div class="last-line">
          <button
            class="twl-app-button"
            onclick="document.getElementById('music-b-input').click()"
          >
            Add music files
          </button>
          <input
            id="music-b-input"
            type="file"
            style="display: none"
            (change)="addFiles($event, 'b')"
            multiple="multiple"
            accept=".MP3, .OGG, .M4A, .WMA, .WAV, .AAC, .FLAC, .AIFF, .AIF"
          />

          <div class="playtime" *ngIf="tptB > maxDuration">
            <div>Total playtime over limit!</div>
            <div
              class="playtime-tag red-time"
              style="
                font-size: 14px;
                font-family: 'Ubuntu Mono';
                padding-top: 5px;
              "
            >
              {{ totalPlaytimeB }}
            </div>
          </div>

          <div class="playtime" *ngIf="tptB <= maxDuration">
            <div>Total playtime:</div>
            <div
              class="playtime-tag green-time"
              style="
                font-size: 14px;
                font-family: 'Ubuntu Mono';
                padding-top: 5px;
              "
            >
              {{ totalPlaytimeB }}
            </div>
          </div>
        </div>
      </div>
      <div class="steps-buttons">
        <button class="twl-app-transparent-button" matStepperPrevious>< Prev step</button>
        <button  (click)="goForward(stepper, tptB)"  class="twl-app-transparent-button">Next Step ></button>
      </div>
    </mat-step>
    <mat-step *ngIf="doubleAlbum" label="Side C" state="album">
      <div class="upload-cards">
        <div class="headers">
          <div class="upload-header">Side C</div>
          <div class="upload-subheader">{{ vinylSize }}</div>
        </div>
        <div
          cdkDropList
          class="example-list"
          (cdkDropListDropped)="drop($event, 'c')"
        >
          <div class="tracks" *ngFor="let track of twlArrayC; let i = index">
            <div class="track-number">{{ i + 1 }}.</div>
            <div class="track-box" cdkDrag>
              <div>{{ track.file.name }}</div>
              <div>{{ timeString(track.durationMs) }}</div>
            </div>
            <div class="remove-track">
              <img
                src="/assets/Remove_Icon.svg"
                class="remove-icon"
                (click)="removeTrack(i, 'c')"
              />
            </div>
          </div>
        </div>

        <div class="last-line">
          <button
            class="twl-app-button"
            onclick="document.getElementById('music-c-input').click()"
          >
            Add music files
          </button>
          <input
            type="file"
            id="music-c-input"
            style="display: none"
            (change)="addFiles($event, 'c')"
            multiple="multiple"
            accept=".MP3, .OGG, .M4A, .WMA, .WAV, .AAC, .FLAC, .AIFF, .AIF"
          />

          <div class="playtime" *ngIf="tptC > maxDuration">
            <div>Total playtime over limit!</div>
            <div
              class="playtime-tag red-time"
              style="
                font-size: 14px;
                font-family: 'Ubuntu Mono';
                padding-top: 5px;
              "
            >
              {{ totalPlaytimeC }}
            </div>
          </div>

          <div class="playtime" *ngIf="tptC <= maxDuration">
            <div>Total playtime:</div>
            <div
              class="playtime-tag green-time"
              style="
                font-size: 14px;
                font-family: 'Ubuntu Mono';
                padding-top: 5px;
              "
            >
              {{ totalPlaytimeC }}
            </div>
          </div>
        </div>
      </div>
      <div class="steps-buttons">
        <button class="twl-app-transparent-button" matStepperPrevious>< Prev step</button>
        <button  (click)="goForward(stepper, tptC)"  class="twl-app-transparent-button">Next Step ></button>
      </div>
    </mat-step>
    <mat-step *ngIf="doubleAlbum" label="Side D" state="album">
      <div class="upload-cards">
        <div class="headers">
          <div class="upload-header">Side D</div>
          <div class="upload-subheader">{{ vinylSize }}</div>
        </div>
        <div
          cdkDropList
          class="example-list"
          (cdkDropListDropped)="drop($event, 'd')"
        >
          <div class="tracks" *ngFor="let track of twlArrayD; let i = index">
            <div class="track-number">{{ i + 1 }}.</div>
            <div class="track-box" cdkDrag>
              <div>{{ track.file.name }}</div>
              <div>{{ timeString(track.durationMs) }}</div>
            </div>
            <div class="remove-track">
              <img
                src="/assets/Remove_Icon.svg"
                class="remove-icon"
                (click)="removeTrack(i, 'd')"
              />
            </div>
          </div>
        </div>

        <div class="last-line">
          <button
            class="twl-app-button"
            onclick="document.getElementById('music-d-input').click()"
          >
            Add music files
          </button>
          <input
            type="file"
            id="music-d-input"
            style="display: none"
            (change)="addFiles($event, 'd')"
            multiple="multiple"
            accept=".MP3, .OGG, .M4A, .WMA, .WAV, .AAC, .FLAC, .AIFF, .AIF"
          />

          <div class="playtime" *ngIf="tptD > maxDuration">
            <div>Total playtime over limit!</div>
            <div
              class="playtime-tag red-time"
              style="
                font-size: 14px;
                font-family: 'Ubuntu Mono';
                padding-top: 5px;
              "
            >
              {{ totalPlaytimeD }}
            </div>
          </div>

          <div class="playtime" *ngIf="tptD <= maxDuration">
            <div>Total playtime:</div>
            <div
              class="playtime-tag green-time"
              style="
                font-size: 14px;
                font-family: 'Ubuntu Mono';
                padding-top: 5px;
              "
            >
              {{ totalPlaytimeD }}
            </div>
          </div>
        </div>
      </div>
      <div class="steps-buttons">
        <button class="twl-app-transparent-button" matStepperPrevious>< Prev step</button>
        <button  (click)="goForward(stepper, tptD)"  class="twl-app-transparent-button">Next Step ></button>
      </div>
    </mat-step>
    <mat-step label="Upload" state="upload">
      <div class="upload-cards">
        <div class="headers">
          <div class="upload-header">Tracks Summary</div>
          <div class="upload-subheader">
            Final selection of tracks for your vinyl. Please check the tracks before upload.
          </div>
        </div>

        <div *ngIf="doubleAlbum">
          <span style="font-weight: 800; text-transform: uppercase; font-size: 14px;">Vinyl One</span>
          <hr style="width: 100%; border-width: 0; background-color: black; height: 1px;"/>
        </div>

        <div class="single-vinyl">
          <div class="summary-table">
            <span class="summary-side"><mat-icon>album</mat-icon>Side A</span>
            <div
              class="tracklist-summary"
              *ngFor="let track of twlArrayA; let i = index"
            >
              <div class="track-number-summary">{{ i + 1 }}.</div>
              <div class="track-box-summary" >
                <div>{{ track.file.name }}</div>
              </div>
            </div>
            <span class="summary-playtime">Duration: {{ totalPlaytimeA }}</span>
          </div>

          <div class="summary-table">
            <span class="summary-side"><mat-icon>album</mat-icon>Side B</span>
            <div
              class="tracklist-summary"
              *ngFor="let track of twlArrayB; let i = index"
            >
              <div class="track-number-summary">{{ i + 1 }}.</div>
              <div class="track-box-summary" >
                <div>{{ track.file.name }}</div>
              </div>
            </div>
            <span class="summary-playtime">Duration: {{ totalPlaytimeB }}</span>
          </div>
        </div>

        <div *ngIf="doubleAlbum">
          <span style="font-weight: 800; text-transform: uppercase; font-size: 14px;">Vinyl Two</span>
          <hr style="width: 100%; border-width: 0; background-color: black; height: 1px;"/>
        </div>

        <div class="single-vinyl">
          <div class="summary-table" *ngIf="doubleAlbum">
            <span class="summary-side"><mat-icon>album</mat-icon>Side C</span>
            <div
              class="tracklist-summary"
              *ngFor="let track of twlArrayC; let i = index"
            >
              <div class="track-number-summary">{{ i + 1 }}.</div>
              <div class="track-box-summary" >
                <div>{{ track.file.name }}</div>
              </div>
            </div>
            <span class="summary-playtime">Duration: {{ totalPlaytimeC }}</span>
          </div>

          <div class="summary-table" *ngIf="doubleAlbum">
            <span class="summary-side"><mat-icon>album</mat-icon>Side D</span>
            <div
              class="tracklist-summary"
              *ngFor="let track of twlArrayD; let i = index"
            >
              <div class="track-number-summary">{{ i + 1 }}.</div>
              <div class="track-box-summary">
                <div>{{ track.file.name }}</div>
              </div>
            </div>
            <span class="summary-playtime">Duration: {{ totalPlaytimeD }}</span>
          </div>
        </div>

      </div>

      <div class="bottom-line">
        <button class="twl-app-transparent-button" matStepperPrevious>< Prev step</button>
        <div style="display:flex; gap:15px;">
          <button  class="twl-app-empty-button" (click)="stepper.reset()">Reset And Clear</button>
          <button  class="twl-app-button" (click)="uploadTracks(upload)">Start Upload</button>
        </div>
      </div>

    </mat-step>
  </mat-stepper>
  <music-summary *ngIf="_orderProcess.musicProcess === 'uploadFinished'"></music-summary>
</div>
