<div class="main-view" style="height: {{ innerHeight }}">
  <div class="draw-container">
    <!-- Mobile drawer
    <mat-drawer #drawer mode="over">
      <div class="side-menu" style="height: calc(100% - 40px)">
        <img src="/assets/Twlinch_Fav_Portal.png" style="width:35px;">
        <div class="menu-items">
          <img src="/assets/dashboard_icon.svg" class="dash-icon">
          <img src="/assets/music_icon.svg" class="dash-icon">
          <img src="/assets/design_icon.svg" class="dash-icon">
        </div>
        <div class="version">
          <img src="/assets/Twlinch_Logo.svg" style="width:50px; filter: brightness(0) invert(1);">
          <span>Version 1.0</span>
        </div>
      </div>
    </mat-drawer>-->

    <div class="draw-content">
      <div class="side-menu desktop-side-menu">
        <img src="/assets/Twlinch_Fav_Portal.png" style="width: 35px" />
        <div class="menu-items">
          <img
            src="/assets/dashboard_icon.svg"
            class="dash-icon"
            [routerLink]="'/manage-order/order-details'"
          />
          <div style="position:relative;">
            <img src="/assets/music_icon.svg" class="dash-icon"  [routerLink]="'/manage-order/upload-music'"  />
            <div *ngIf="_orderProcess.musicProcess === 'waitingForUpload'" class="orange-indicator"></div>
            <div *ngIf="_orderProcess.musicProcess === 'uploadFinished'"  class="green-indicator"></div>
          </div>
          <div *ngIf="!justVinyl" style="position:relative;">
            <img src="/assets/design_icon.svg" class="dash-icon" [routerLink]="'/manage-order/upload-artwork'"/>
            <div class="orange-indicator"></div>
            <div *ngIf="_orderProcess.sleeveProcess !== 'uploadFinished' || _orderProcess.labelProcess !== 'uploadFinished' || _orderProcess.slipmatProcess !== 'uploadFinished'" class="orange-indicator"></div>
            <div *ngIf="_orderProcess.sleeveProcess === 'uploadFinished' && _orderProcess.labelProcess === 'uploadFinished' && _orderProcess.slipmatProcess === 'uploadFinished'"  class="green-indicator"></div>
          </div>

        </div>
        <div class="version">
          <img
            src="/assets/Twlinch_Logo.svg"
            style="width: 50px; filter: brightness(0) invert(1)"
          />
          <span>Version 1.0</span>
        </div>
      </div>
      <div class="main-content">
        <div class="top-menu">
          <span class="finish">Finish your record</span>
          <div class="mobile-logo"><img src="/assets/Twlinch_Logo.svg" style="width: 80px;"/></div>
          <div class="right-side">
            <span>No. : </span><span style="font-size: 14px">#{{ orderNumber }}</span>
            <button class="logout-button" (click)="this.logOut()">
              <img src="/assets/Exit_Icon.svg" style="width: 18px;"/>
            </button>
          </div>

        </div>
        <router-outlet></router-outlet>
      </div>

      <!-- <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button>-->
    </div>
  </div>

  <div class="mobile-menu">
    <img
      src="/assets/dashboard_icon.svg"
      class="dash-icon"
      [routerLink]="'/manage-order/order-details'"
    />

    <div style="position:relative;">
      <img src="/assets/music_icon.svg" class="dash-icon"  [routerLink]="'/manage-order/upload-music'"  />
      <div *ngIf="_orderProcess.musicProcess === 'waitingForUpload'" class="orange-indicator"></div>
      <div *ngIf="_orderProcess.musicProcess === 'uploadFinished'"  class="green-indicator"></div>
    </div>
    <div *ngIf="!justVinyl" style="position:relative;">
      <img src="/assets/design_icon.svg" class="dash-icon" [routerLink]="'/manage-order/upload-artwork'"/>
      <div class="orange-indicator"></div>
      <div *ngIf="_orderProcess.sleeveProcess === 'waitingForUpload' || _orderProcess.labelProcess === 'waitingForUpload' || _orderProcess.slipmatProcess === 'waitingForUpload'" class="orange-indicator"></div>
      <div *ngIf="(_orderProcess.sleeveProcess === 'uploadFinished' || _orderProcess.sleeveProcess === 'notOrdered')
      && (_orderProcess.labelProcess === 'uploadFinished' || _orderProcess.labelProcess === 'notOrdered' )
      && (_orderProcess.slipmatProcess === 'uploadFinished' || _orderProcess.slipmatProcess === 'notOrdered' )" class="green-indicator"></div>
    </div>
  </div>
</div>
