
<div class="main-view" style="height: {{innerHeight}}">


  <div class="draw-container">

    <!-- Mobile drawer
    <mat-drawer #drawer mode="over">
      <div class="side-menu" style="height: calc(100% - 40px)">
        <img src="/assets/Twlinch_Fav_Portal.png" style="width:35px;">
        <div class="menu-items">
          <img src="/assets/dashboard_icon.svg" class="dash-icon">
          <img src="/assets/music_icon.svg" class="dash-icon">
          <img src="/assets/design_icon.svg" class="dash-icon">
        </div>
        <div class="version">
          <img src="/assets/Twlinch_Logo.svg" style="width:50px; filter: brightness(0) invert(1);">
          <span>Version 1.0</span>
        </div>
      </div>
    </mat-drawer>-->


    <div class="draw-content">
      <div class="side-menu desktop-side-menu">
        <img src="/assets/Twlinch_Fav_Portal.png" style="width:35px;">
        <div class="menu-items">
          <img src="/assets/dashboard_icon.svg" class="dash-icon" [routerLink]="'/manage-order/order-details'">
          <img src="/assets/music_icon.svg" class="dash-icon">
          <img src="/assets/design_icon.svg" class="dash-icon">
        </div>
        <div class="version">
          <img src="/assets/Twlinch_Logo.svg" style="width:50px; filter: brightness(0) invert(1);">
          <span>Version 1.0</span>
        </div>
      </div>
      <div class="main-content">
        <div class="top-menu">
          <span>Custom Vinyl Order<br><span style="font-size:20px">#{{orderNumber}}</span></span>
        </div>
        <router-outlet></router-outlet>
      </div>

     <!-- <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button>-->
    </div>
  </div>

  <div class="mobile-menu">
    <img src="/assets/dashboard_icon.svg" class="dash-icon" [routerLink]="'/manage-order/order-details'">
    <img src="/assets/music_icon.svg" class="dash-icon">
    <img src="/assets/design_icon.svg" class="dash-icon">
  </div>

</div>


