<div class="layout">
  <div class="left-toolbar">
    <button (click)="triggerFileInput()" class="designer-button">
      <img class="designer-button-icon" src="./assets/Designer_Assets/upload_image_icon.svg"/>
      <span class="designer-button-text">Add<br>Image</span>
    </button>
    <input type="file" #fileInput (change)="onFileSelected($event)" style="display:none;"/>
    <button class="designer-button" (click)="addTextNode()">
      <img class="designer-button-icon" src="./assets/Designer_Assets/add_text_icon.svg"/>
      <span class="designer-button-text">Add<br>Text</span>
    </button>
    <button id="addTracklistButton" #addTracklistButton class="designer-button" (click)="getMusicPlaylist()">
      <img class="designer-button-icon" src="./assets/Designer_Assets/music_list_icon.svg"/>
      <span class="designer-button-text">Add<br>Tracklist</span>
    </button>
    <button id="shapesToggleButon" #shapesToggleButon class="designer-button" (click)="toggleShapes($event)">
      <img class="designer-button-icon" src="./assets/Designer_Assets/add_shape_icon.svg"/>
      <span class="designer-button-text">Add<br>Shape</span>
    </button>
    <button class="designer-button" (click)="openBackgroundColorPicker()">
      <img class="designer-button-icon" src="./assets/Designer_Assets/change_color_icon.svg"/>
      <span class="designer-button-text">Canvas<br>Color</span>
      <input type="color" #colorPickerBackground id="colorPickerBackground" (input)="onColorChange($event)"
             style="opacity: 0; height: 0px; width: 0px;"/>
    </button>
    <button id="eraseButton" #eraseButton class="designer-button" (click)="openConfirmActionPopup('clear stage')">
      <img class="designer-button-icon" src="./assets/Designer_Assets/eraser_icon.svg"/>
      <span class="designer-button-text">Clean<br>Canvas</span>
    </button>
  </div>


  <div class="right-content">

    <div class="top-toolbar">
      <div class="selected-object-actions">
        <span class="selected-object-text">
          Selected object action:
        </span>
        <div class="design-options-sector">
          <button id="deleteObjectButton" #deleteObjectButton class="top-bar-button" (click)="deleteObject()">
            <img class="object-edit-button-icon" src="./assets/Designer_Assets/bin_icon.svg"/>
          </button>
          <button id="duplicateObjectButton" #duplicateObjectButton class="top-bar-button" (click)="duplicateObject()">
            <img class="object-edit-button-icon" src="./assets/Designer_Assets/duplicate_icon.svg"/>
          </button>
          <button id="optionsToggle" #optionsToggle class="top-bar-button" (click)="toggleOptions($event)">
            <img class="object-edit-button-icon" src="./assets/Designer_Assets/layers_icon.svg"/>
          </button>
          <button class="top-bar-button">
            <div id="colorPickerButton" #colorPickerButton class="color-picker-button" (click)="openColorPicker()">
              <input type="color" #colorPicker id="colorPicker" (input)="onColorChange($event)" style="opacity: 0"/>
            </div>
          </button>
        </div>


        <div class="design-options-sector">
          <button id="fontSelectButton" #fontSelectButton class="top-bar-button-font" (click)="changeFont($event)">
            {{ this.selectedFont }}
          </button>

          <button id="textAlignButton" #textAlignButton class="top-bar-button" (click)="openTextAlignOptions()">
            <img class="object-edit-button-icon" src="./assets/Designer_Assets/{{ this.fontAlign }}"/>
          </button>

          <button id="textThicknessButton" #textThicknessButton class="top-bar-button">
          <img class="object-edit-button-icon" src="./assets/Designer_Assets/Text_Decoration_Icon.svg"/>
          </button>
        </div>
      </div>


      <div>
        <button style="border-radius: 0px; height: 50px;" class="twl-app-button" (click)="saveSleevePDF()">Finish and
          upload
        </button>
      </div>
    </div>

    <div *ngIf="data.type === 'label'" class="labels-selector">
      <div id="labelA" #labelA class="label-button" (click)="switchLabel('A')">
        <mat-icon style="font-size:20px; padding-right:5px">album</mat-icon>
        Label A
      </div>
      <div id="labelB" #labelB class="label-button" (click)="switchLabel('B')">
        <mat-icon style="font-size:20px; padding-right:5px">album</mat-icon>
        Label B
      </div>
      <div *ngIf="data.doubleAlbum === true" id="labelC" #labelC class="label-button">
        <mat-icon style="font-size:20px; padding-right:5px">album</mat-icon>
        Label C
      </div>
      <div *ngIf="data.doubleAlbum === true" id="labelD" #labelD class="label-button">
        <mat-icon style="font-size:20px; padding-right:5px">album</mat-icon>
        Label D
      </div>
    </div>

    <div class="designer">
      <div id="sides" #sides class="sides">
        <div class="side">Back Side</div>
        <div class="side">Front side</div>
      </div>
      <div
        style=" position: relative; width:100%; position:relative; height: 100%; display: flex; justify-content: center; align-items: center"
        id="cont" #cont>
      </div>
    </div>
  </div>
</div>


<!--  popup with option to select layer position -->
<div id="optionsDiv" #optionsDiv class="options-div" [style.display]="showOptions ? 'grid' : 'none'">
  <div class="options-header">
    Layer position
  </div>
  <div class="option-button" (click)="moveLayer('up')">
    <button class="option-sel-button">Move Layer Up</button>
    <img class="arrow" src="./assets/Designer_Assets/up.svg">
  </div>
  <div class="option-button" (click)="moveLayer('down')">
    <button class="option-sel-button">Move Layer Down</button>
    <img class="arrow" src="./assets/Designer_Assets/down.svg">
  </div>
</div>

<!-- popup for setting text aligment -->
<div id="textAlignDiv" #textAlignDiv class="options-div" [style.display]="showTextAlignSelect ? 'grid' : 'none'">
  <div class="options-header">
    Align Text
  </div>
  <div class="option-button" (click)="updateTextAlignment('left')" >
    <button class="option-sel-button">Align text left</button>
    <img class="arrow" src="../../../assets/Designer_Assets/left.svg">
  </div>
  <div class="option-button" (click)="updateTextAlignment('center')" >
    <button class="option-sel-button">Align text center</button>
    <img class="arrow" src="../../../assets/Designer_Assets/center.svg">
  </div>
  <div class="option-button" (click)="updateTextAlignment('right')" >
    <button class="option-sel-button">Align text right</button>
    <img class="arrow" src="../../../assets/Designer_Assets/right.svg">
  </div>
</div>

<!--  popup with option to select shape-->
<div id="shapesSelectDiv" #shapesSelectDiv class="options-div" [style.display]="showShapesSelect ? 'grid' : 'none'">
  <div class="options-header">
    Select shape
  </div>
  <div class="option-button" (click)="addShape('square')">
    <button class="option-sel-button">Rectangle</button>
    <img class="shape-icon" src="./assets/Designer_Assets/square_icon.svg">
  </div>
  <div class="option-button" (click)="addShape('triangle')">
    <button class="option-sel-button">Triangle</button>
    <img class="shape-icon" src="./assets/Designer_Assets/triangle_icon.svg">
  </div>
  <div class="option-button" (click)="addShape('circle')">
    <button class="option-sel-button">Circle</button>
    <img class="shape-icon" src="./assets/Designer_Assets/circle_icon.svg">
  </div>
</div>

<!-- Font selection dropdown -->

<!-- font-picker.component.html -->
<div id="fontsSelectDiv" #fontsSelectDiv class="options-div" [style.display]="showFontSelect ? 'grid' : 'none'">
  <div class="options-header">
    Select font
  </div>
  <div class="options-scroll">
    <div *ngFor="let font of fonts" class="option-button-font" [style.font-family]="font" (click)="selectFont(font)">
      {{ font }}
    </div>
  </div>
</div>


<div id="layers-panel"
     style="position: absolute; top: 20px; left: 20px; width: 200px; background: #f9f9f9; border: 1px solid #ccc; padding: 10px; display: none">
  <div id="drag-handle" style="cursor: move; background: #ddd; padding: 5px; text-align: center;">
    Layers Panel
  </div>
  <ul id="layers-list" style="list-style: none; padding: 0; margin: 0;"></ul>
</div>
