
//.mat-mdc-dialog-surface ,mdc-dialog__surface{
//  background-color: transparent !important;
//  box-shadow: none !important;
//}

.cdk-overlay-dark-backdrop{
  background-color: rgba(0, 0, 0, 0.72) !important;
}

.warning{
  filter: brightness(0) saturate(100%) invert(83%) sepia(63%) saturate(2357%) hue-rotate(1deg) brightness(105%) contrast(106%);
}

button:focus {outline:0;}


.limit{
  font-family: 'Ubuntu Mono';
  font-weight: 600;
  font-size:14px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.dialog{
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding:30px;
  gap:10px;
  max-width:700px;
}

.upload-header{
  font-family: "Public Sans";
  font-weight: 700;
  font-size: 20px;
}

.upload-subheader{
  font-family: "Public Sans";
  font-weight: 400;
  font-size: 12px;
  color:black;
  text-align: center;
}

.previews{
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Maximum of two columns */
}

.previews > *:only-child {
  grid-column: span 2; /* Force single child to occupy one column */
}

.previews img {
  width: 100%; /* Ensure images fit their container */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Optional: Ensures the image fills its container neatly */
}

@media only screen and (min-width: 480px) {
  .dialog{
    min-width: 300px;
  }
}
