<div class="mobile-login" id="mobileLogin" style="height:{{ innerHeight }}">
  <div class="mobile-login-upper">
    <img src="/assets/Twlinch_Logo.svg" style="width: 100px" />
    <div>
      Complete your<br />custom vinyl record<br />order
      <!--<div style="font-size:15px; font-weight: 500; padding-top:15px;line-height: 1;">Upload music and/or artwork to complete your cutom vinyl record order!</div>-->
    </div>

    <div></div>
  </div>
  <div class="mobile-login-lower">
    <div class="login-header">Your email and order number:</div>
    <form [formGroup]="form" style="width: 100%">
      <mat-form-field style="width: 100%" [hideRequiredMarker]="true">
        <mat-label>Email</mat-label>
        <input
          matInput
          required
          formControlName="email"
          autocomplete="email"
          type="email"
        />
        @if (form.controls["email"].hasError("required")) {
          <mat-error> Missing Email.</mat-error>
        }
        @if (form.controls["email"].hasError("email")) {
          <mat-error> Email not valid.</mat-error>
        }
      </mat-form-field>
      <br />
      <mat-form-field style="width: 100%" [hideRequiredMarker]="true">
        <mat-label>Order Number</mat-label>
        <input
          matInput
          required
          formControlName="password"
          autocomplete="current-password"
          type="number"
        />
        @if (form.controls["password"].hasError("required")) {
          <mat-error> Missing Order Number.</mat-error>
        }
        @if (form.controls["password"].hasError("minLength")) {
          <mat-error> Order number is too short (min. 4 characters)</mat-error>
        }
      </mat-form-field>
    </form>
    <button
      style="
        width: 100%;
        padding: 25px;
        background-color: black;
        color: white;
        text-transform: uppercase;
        font-weight: 700;
      "
      mat-raised-button
      color="primary"
      (click)="formSubmit()"
      [disabled]="!form.valid"
    >
      Manage Order
    </button>
  </div>
</div>

<!-- Desktop order login -->

<div
  class="desktop-login"
  style="height:{{ innerHeight }}"
  (window:resize)="onResize($event)"
>
  <div class="left-side">
    <div class="dark-overlay"></div>
    <div class="left-content">
      <img
        src="/assets/Twlinch_Logo.svg"
        style="width: 100px; filter: brightness(0) invert(1)"
      />
      <div>
        Complete your<br />custom vinyl record<br />order.
        <!-- <div style="font-size:15px; font-weight: 300; padding-top:15px;line-height: 1;">Upload music and/or artwork to complete your cutom vinyl record order!</div>-->
      </div>
      <div
        style="
          font-size: 10px;
          font-weight: 700;
          padding-top: 15px;
          line-height: 1;
          font-family: &quot;Ubuntu Mono&quot;;
        "
      >
        app.twlinch.com
      </div>
    </div>
  </div>
  <div class="right-side">
    <div class="login-header">Your email and order number:</div>
    <form [formGroup]="form">
      <mat-form-field style="width: 300px" [hideRequiredMarker]="true">
        <mat-label>Email</mat-label>
        <input
          matInput
          required
          formControlName="email"
          autocomplete="email"
          type="email"
        />
        @if (form.controls["email"].hasError("required")) {
          <mat-error> Missing Email.</mat-error>
        }
        @if (form.controls["email"].hasError("email")) {
          <mat-error> Email not valid.</mat-error>
        }
      </mat-form-field>
      <br />
      <mat-form-field style="width: 300px" [hideRequiredMarker]="true">
        <mat-label>Order Number</mat-label>
        <input
          matInput
          required
          formControlName="password"
          (keydown.enter)="formSubmit()"
          type="number"
        />
        @if (form.controls["password"].hasError("required")) {
          <mat-error> Missing Order Number.</mat-error>
        }
        @if (form.controls["password"].hasError("minLength")) {
          <mat-error> Order number is too short (min. 4 characters)</mat-error>
        }
      </mat-form-field>
    </form>
    <button
      class="twlinch-button"
      mat-raised-button
      color="primary"
      (click)="formSubmit()"
      [disabled]="!form.valid"
    >
      Manage Order
    </button>
  </div>
</div>
