rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    // User can read and write their order files.
    match /orders/{userId}/{allPaths=**} {
      allow read, write: if request.auth.uid == userId || request.auth.uid == 'xfhyHCFuVYOHRsZPmQsD79uc1A52';
    }

    // User can read and write their order files.
    match /templates/{allPaths=**} {
      allow read;
    }
  }
}
