<div class="main-content" style="height: {{ innerHeight }}">
  <div class="order-details-card">
    <div class="order-header" style="display:flex; justify-content: center; align-items: center;"><mat-icon style="font-size:25px; padding-right:5px">album</mat-icon>{{name}} #{{orderNumber}}

    </div>
    <span class="details-header">Order details:</span>
    <span *ngIf="vinylSize !== undefined">{{ vinylSize }}</span>
    <span *ngIf="vinylColor !== undefined">{{ vinylColor }}</span>
    <span *ngIf="label !== undefined">{{ label }}</span>
    <span *ngIf="sleeve !== undefined">{{ sleeve }}</span>
    <span *ngIf="doubleAlbum !== undefined">{{ doubleAlbum }}</span>
    <span *ngIf="slipmat !== undefined">{{ slipmat }}</span>
    <span *ngIf="designServices !== undefined">{{ designServices }}</span>
    <span *ngIf="onlineDesigner !== undefined">{{ onlineDesigner }}</span>
    <span class="details-header" style="padding-top:15px;">Order add-ons:</span>
    <span *ngIf="sleeveAdd !== undefined">{{ sleeveAdd }}</span>
    <span *ngIf="labelAdd !== undefined">{{ labelAdd }}</span>
    <span *ngIf="slipmatAdd !== undefined">{{ slipmatAdd }}</span>
    <span *ngIf="designServicesAdd !== undefined">{{ designServicesAdd }}</span>
    <span *ngIf="onlineDesignerAdd !== undefined">{{ onlineDesignerAdd }}</span>
    <span *ngIf="doubleAlbumAdd !== undefined">{{ doubleAlbumAdd }}</span>
    <span *ngIf="sleeveAdd === undefined && labelAdd === undefined && designServicesAdd === undefined && onlineDesignerAdd === undefined && slipmatAdd === undefined && doubleAlbumAdd === undefined">No add-ons on this order</span>
    <hr style="height:1px;border-width:0;color:black;background-color:black; width: 100%; margin: 20px 0px; ">

    <div class="order-components">

      <!--- All music data and options -->
      <div class="component-group">
      <div class="component-line" *ngIf="musicLink === undefined || musicLink === ''">
        <div class="component-title"><img src="/assets/music_icon.svg" class="component-icon-nr"/>Music download not ready.</div>
      </div>

      <div class="component-line"  *ngIf="musicLink !== undefined && musicLink !== ''" >
        <div class="component-title"><img src="/assets/music_icon.svg" class="component-icon"/>Music download ready!</div>
        <div class="download-chips">
          <span class="copy-link twl-app-small-button"  (click)="copyToClipboard('music')"><mat-icon class="mat-icon-fix">content_copy</mat-icon>copy link</span>
          <span class="twl-app-small-button" (click)="downloadFiles('music')"><mat-icon class="mat-icon-fix">cloud_download</mat-icon>download</span>
        </div>
      </div>
        <div class="reset-chips" *ngIf="this._orderProcess.musicProcess !== 'waitingForUpload'">
          <span>Unlock music upload:</span>
          <span  class="chip-reset" (click)="openConfirmActionPopup('music unlock')"><mat-icon class="chip-icon">lock_open</mat-icon>unlock music upload</span>
        </div>
      </div>

      <!--- All artwork data and options -->
        <div class="component-group">
          <div class="component-line" *ngIf="artworkLink === undefined || artworkLink === ''">
            <div class="component-title" *ngIf="justVinyl === false"><img src="/assets/design_icon.svg" class="component-icon-nr"/>Artwork download not ready.</div>
            <div class="component-title" *ngIf="justVinyl === true"><img src="/assets/design_icon.svg" class="component-icon-nr"/>No custom artworks.</div>
          </div>

        <div class="component-line"  *ngIf="artworkLink !== undefined && artworkLink !== '' " >
          <div class="component-title"><img src="/assets/design_icon.svg" class="component-icon"/>Artwork download ready!</div>
          <div class="download-chips">
            <span class="copy-link twl-app-small-button"  (click)="copyToClipboard('artwork')"><mat-icon class="mat-icon-fix">content_copy</mat-icon>copy link</span>
            <span class="twl-app-small-button" (click)="downloadFiles('artwork')"><mat-icon class="mat-icon-fix">cloud_download</mat-icon>download</span>
          </div>
        </div>

          <div class="reset-chips" *ngIf="this._orderProcess.sleeveProcess === 'uploadFinished' || this._orderProcess.labelProcess === 'uploadFinished' || this._orderProcess.slipmatProcess === 'uploadFinished' || this._orderProcess.pictureDiscProcess === 'uploadFinished'">
            <span>Unlock design upload:</span>
            <span *ngIf="this._orderProcess.sleeveProcess === 'uploadFinished'" class="chip-reset" (click)="openConfirmActionPopup('sleeve unlock')"><mat-icon class="chip-icon">lock_open</mat-icon>unlock sleeve</span>
            <span *ngIf="this._orderProcess.labelProcess === 'uploadFinished'" class="chip-reset" (click)="openConfirmActionPopup('label unlock')"><mat-icon class="chip-icon">lock_open</mat-icon>unlock label</span>
            <span *ngIf="this._orderProcess.pictureDiscProcess === 'uploadFinished'" class="chip-reset" (click)="openConfirmActionPopup('picture disc unlock')"><mat-icon class="chip-icon">lock_open</mat-icon>unlock picture disc</span>
            <span *ngIf="this._orderProcess.slipmatProcess === 'uploadFinished'" class="chip-reset" (click)="openConfirmActionPopup('slipmat unlock')"><mat-icon class="chip-icon">lock_open</mat-icon>unlock slipmat</span>
          </div>
        </div>

      <!-- Upgrade Order -->

      <div class="component-group">
        <div class="component-line">
          <div style="display: flex; justify-content: center; align-items: center; gap:10px">
          <div class="component-title"><img src="/assets/upgrade_icon.svg" class="component-icon-upgrade"/>Upgrade order:</div>
            <span *ngIf="this.sleeve === undefined && this.sleeveAdd === undefined"  class="chip-add" (click)="openConfirmActionPopup('add sleeve')"><mat-icon class="chip-icon">add</mat-icon>add sleeve</span>
            <span *ngIf="this.label === undefined && this.labelAdd === undefined" class="chip-add" (click)="openConfirmActionPopup('add label')"><mat-icon class="chip-icon">add</mat-icon>add label</span>
            <span *ngIf="this.slipmat === undefined && this.slipmatAdd === undefined" class="chip-add" (click)="openConfirmActionPopup('add slipmat')"><mat-icon class="chip-icon">add</mat-icon>add slipmat</span>
            <span *ngIf="this.doubleAlbum === undefined && this.doubleAlbumAdd === undefined"  class="chip-add" (click)="openConfirmActionPopup('add double album')"><mat-icon class="chip-icon">add</mat-icon>upgrade to double album</span>
            <span *ngIf="this.designServices === undefined && this.designServicesAdd === undefined"  class="chip-add" (click)="openConfirmActionPopup('add design services')"><mat-icon class="chip-icon">add</mat-icon>add design services</span>
            <span *ngIf="this.onlineDesigner === undefined && this.onlineDesignerAdd === undefined"  class="chip-add" (click)="openConfirmActionPopup('add online designer')"><mat-icon class="chip-icon">add</mat-icon>add online designer</span>
          </div>
        </div>


      </div>



    </div>





  </div>
  </div>

