<!--{{(_authService.user$ | async)?.uid}}-->
<div class="main-content">
  <div class="outter-div">
    <div class="order-details-card">
      <span *ngIf="!isGift" class="order-header">Your order:</span>
      <span *ngIf="isGift" class="order-header">Your gift:</span>
      <span *ngIf="vinylSize !== undefined">{{ vinylSize }}</span>
      <span *ngIf="vinylColor !== undefined">{{ vinylColor }}</span>
      <span *ngIf="label !== undefined">{{ label }}</span>
      <span *ngIf="sleeve !== undefined">{{ sleeve }}</span>
      <span *ngIf="doubleAlbum !== undefined">{{ doubleAlbum }}</span>
      <span *ngIf="slipmat !== undefined">{{ slipmat }}</span>
      <span *ngIf="designServices !== undefined">{{ designServices }}</span>
      <span *ngIf="onlineDesigner !== undefined">{{ onlineDesigner }}</span>

      <img src="/assets/black_cl_cs.png" class="vinyl-record-image"/>

    </div>
  </div>
  <div class="outter-div" *ngIf="isGift">
    <div class="upload-cards">
      <div class="add-shipping" (click)="addShippingDetailsDialog()">

        <div class="completed-icon" *ngIf="_billingDetails.country === ''">
          <img src="/assets/Pending_Icon.svg"
               style="width: 30px; filter: brightness(0) saturate(100%) invert(74%) sepia(90%) saturate(2139%) hue-rotate(1deg) brightness(109%) contrast(105%);"/>
        </div>

        <div class="shipping-details-card" *ngIf="_billingDetails.country !== ''">
          <span class="shipping-header">Shipping details:</span>
          <div class="shipping-details">
            <div class="shipping-sector">
              <span style="font-size:10px; padding-bottom: 3px;">Shipping address:</span>
              <span>{{ _billingDetails.first_name }} {{ _billingDetails.last_name }}</span>
              <span>{{ _billingDetails.address_1 }}</span>
              <span>{{ _billingDetails.address_2 }}</span>
              <span>{{ _billingDetails.postcode }}, {{ _billingDetails.city }}</span>
              <span>{{ _billingDetails.state }}</span>
              <span>{{ _billingDetails.country }}</span>
            </div>
            <div class="shipping-sector">
              <span style="font-size:10px; padding-bottom: 3px;">Contact:</span>
              <span>{{ _billingDetails.email }}</span>
              <span>{{ _billingDetails.phone }}</span>
            </div>
          </div>
        </div>
        <div class="inner-upload-card" *ngIf="_billingDetails.country === ''">
          <img src="/assets/Add_Shipping_Address.svg" style="width: 45px"/>
          <span class="upload-text">add shipping address</span>
          <span class="pending-text">ADD NOW</span>
        </div>
      </div>
    </div>
  </div>
  <div class="outter-div">
    <div class="upload-cards">
      <div class="upload-card" [routerLink]="'/manage-order/upload-music'">
        <div class="completed-icon">
          <img *ngIf="_orderProcess.musicProcess === 'uploadFinished'" src="/assets/Upload_Complete_Icon.svg"
               style="width: 30px; filter: brightness(0) saturate(100%) invert(73%) sepia(64%) saturate(6218%) hue-rotate(115deg) brightness(103%) contrast(99%);"/>
          <img *ngIf="_orderProcess.musicProcess === 'waitingForUpload'" src="/assets/Pending_Icon.svg"
               style="width: 30px; filter: brightness(0) saturate(100%) invert(74%) sepia(90%) saturate(2139%) hue-rotate(1deg) brightness(109%) contrast(105%);"/>
        </div>
        <div class="inner-upload-card">
          <img src="/assets/Upload_Music.svg" style="width: 45px"/>
          <span class="upload-text">upload music</span>
          <span *ngIf="_orderProcess.musicProcess === 'waitingForUpload'" class="pending-text">START NOW</span>
          <span *ngIf="_orderProcess.musicProcess === 'uploadFinished'" class="completed-text">COMPLETED</span>
        </div>
      </div>
      <div *ngIf="!justVinyl" class="upload-card" [routerLink]="'/manage-order/upload-artwork'">
        <div class="completed-icon">
          <img *ngIf="(_orderProcess.sleeveProcess === 'uploadFinished' || _orderProcess.sleeveProcess === 'notOrdered')
      && (_orderProcess.labelProcess === 'uploadFinished' || _orderProcess.labelProcess === 'notOrdered' )
      && (_orderProcess.slipmatProcess === 'uploadFinished' || _orderProcess.slipmatProcess === 'notOrdered' )"
               src="/assets/Upload_Complete_Icon.svg"
               style="width: 30px; filter: brightness(0) saturate(100%) invert(73%) sepia(64%) saturate(6218%) hue-rotate(115deg) brightness(103%) contrast(99%);"/>
          <img
            *ngIf="_orderProcess.sleeveProcess === 'waitingForUpload' || _orderProcess.labelProcess === 'waitingForUpload' || _orderProcess.slipmatProcess === 'waitingForUpload'"
            src="/assets/Pending_Icon.svg"
            style="width: 30px; filter: brightness(0) saturate(100%) invert(74%) sepia(90%) saturate(2139%) hue-rotate(1deg) brightness(109%) contrast(105%);"/>
        </div>
        <div class="indicator"></div>
        <div class="inner-upload-card">
          <img src="/assets/Upload_Artwork.svg" style="width: 45px"/>
          <span class="upload-text">upload artwork</span>
          <span
            *ngIf="_orderProcess.sleeveProcess === 'waitingForUpload' || _orderProcess.labelProcess === 'waitingForUpload' || _orderProcess.slipmatProcess === 'waitingForUpload'"
            class="pending-text">START NOW</span>
          <span *ngIf="(_orderProcess.sleeveProcess === 'uploadFinished' || _orderProcess.sleeveProcess === 'notOrdered')
                && (_orderProcess.labelProcess === 'uploadFinished' || _orderProcess.labelProcess === 'notOrdered' )
                && (_orderProcess.slipmatProcess === 'uploadFinished' || _orderProcess.slipmatProcess === 'notOrdered' )"
                class="completed-text">COMPLETED</span>
        </div>
      </div>
    </div>
  </div>
</div>
