.main-content{
  width: 100%;
  height: calc(100% - 115px);
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #F0F0F0;
  gap:20px;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.outter-div{
  padding-left:20px;
  padding-right:20px;
  width: calc(100% - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-details-card{
  background-color: white;
  border-radius: 10px;
  width:500px;
  font-family: "Ubuntu Mono";
  padding:20px;
  display: flex;
  flex-direction: column;
  gap:3px;
  position: relative;
}

.upload-cards{
  display: flex;
  width:540px;
  border-radius: 10px;
  gap:20px;
}

.upload-card{
  width: 50%;
  background-color: white;
  min-height: 150px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  cursor:pointer;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.upload-card:hover{
  transform: scale(1.01);
  -webkit-box-shadow: 0px 0px 28px -15px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 28px -15px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 28px -15px rgba(0, 0, 0, 0.3);
}

.completed-icon{
  width:40px;
  height: 40px;
  border-radius: 20px;
  background-color: white;
  position: absolute;
  right: 10px;
  top:10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.completed-text{
  font-size:12px;
  letter-spacing: 1px;
  font-family: "Ubuntu Mono";
  font-weight: 800;
  color:#01c962;
}

.pending-text{
  font-size:12px;
  letter-spacing: 1px;
  font-family: "Ubuntu Mono";
  font-weight: 800;
  color:#ffc800;
}

.inner-upload-card{
  flex: 1 1;
  padding: 20px;
  border:dashed #cacaca;
  border-radius:7px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.order-header{
  font-family: "Public Sans";
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 10px;
}

.upload-text{
  font-family: "Public Sans";
  font-weight: 600;
  font-size: 18px;
}

.vinyl-record-image{
  width: 300px;
  position: absolute;
  right:20px;
  bottom:20px;
}



@media only screen and (max-width: 650px) {
  .order-details-card{
    width: auto;
  }
  .outter-div{
    display: block;
  }
  .main-content{
    justify-content: flex-start;
  }
  .upload-cards{
    width: auto;
    flex-direction: column;
  }
  .upload-card{
    width: auto;
  }
  .main-content{
    overflow: scroll;
  }
}

@media only screen and (max-width: 600px) {
  .vinyl-record-image{
    transform: rotate(30deg);
    width: 160px;
    bottom:40px;
  }
}
