<div  class="main-content">
  <div class="artwork-upload-selection">
    <div *ngIf="_orderProcess.sleeveProcess !== 'notOrdered'" class="upload-card">
      <img src="/assets/Vinyl_Sleeve_Twlinch.png" class="artwork-image" />
      <div class="upload-header">upload sleeve design</div>
      <div *ngIf="_orderProcess.sleeveProcess === 'uploadFinished'" class="completed-tag"><img src="/assets/Upload_Complete_Icon.svg" style="width: 20px;"/>Completed</div>
      <button *ngIf="_orderProcess.sleeveProcess === 'waitingForUpload'" class="upload-button twl-app-button" (click)="goToUploader('sleeve')">START NOW</button>
    </div>
    <div *ngIf="_orderProcess.labelProcess !== 'notOrdered'" class="upload-card">
      <img src="/assets/Label_Design_Twlinch.png" class="artwork-image" />
      <div class="upload-header">upload label design</div>
      <div *ngIf="_orderProcess.labelProcess === 'uploadFinished'" class="completed-tag"><img src="/assets/Upload_Complete_Icon.svg" style="width: 20px;"/>Completed</div>
      <button *ngIf="_orderProcess.labelProcess === 'waitingForUpload'" class="upload-button twl-app-button" (click)="goToUploader('label')">START NOW</button>
    </div>
    <div *ngIf="_orderProcess.slipmatProcess !== 'notOrdered'" class="upload-card">
      <img src="/assets/Twlinch_Custom_Slipmat.png" class="artwork-image" />
      <div class="upload-header">upload slipmat design</div>
      <div *ngIf="_orderProcess.slipmatProcess === 'uploadFinished'" class="completed-tag"><img src="/assets/Upload_Complete_Icon.svg" style="width: 20px;"/>Completed</div>
      <button *ngIf="_orderProcess.slipmatProcess === 'waitingForUpload'" class="upload-button twl-app-button" (click)="goToUploader('slipmat')">START NOW</button>
    </div>
    <div *ngIf="_orderProcess.pictureDiscProcess !== 'notOrdered'" class="upload-card">
      <img src="/assets/Picture_Disc_Artwork.jpg" class="artwork-image" />
      <div class="upload-header">upload picture disc design</div>
      <div *ngIf="_orderProcess.pictureDiscProcess === 'uploadFinished'" class="completed-tag"><img src="/assets/Upload_Complete_Icon.svg" style="width: 20px;"/>Completed</div>
      <button *ngIf="_orderProcess.pictureDiscProcess === 'waitingForUpload'" class="upload-button twl-app-button" (click)="goToUploader('pictureDisc')">START NOW</button>
    </div>
    <div>
      <button (click)="openDesigner()">Start Sleeve Design</button>
    </div>
  </div>
</div>


